@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
body {
  background-image: url("http://www.fondosni.com/images/2012-09-22/Fondo%20azul%20con%20rosa%20y%20naranja-768139.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 1em 5%;
  padding: 0%;
  height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-family: 'Chilanka', cursive;
  font-size: 63px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}

img {
  margin: 5px;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

hr {
  width: 50%;
  border-width: 2px;
  display: block;
  color: white;
}

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

.logos img {
  max-width: 75px;
  border-radius: 100%;
}

.buttom-frame1 {
  height: 3em;
  width: 10em;
  background-color: #22451c;
  margin-right: 15px;
  color: white;
  border-radius: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: solid transparent 1px;
}

.buttom-frame2 {
  height: 3em;
  width: 10em;
  background-color: #e655b0;
  margin-right: 15px;
  color: white;
  border-radius: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: solid transparent 1px;
}

.buttom-frame3 {
  height: 3em;
  width: 10em;
  background-color: #345385;
  color: white;
  border-radius: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: solid transparent 1px;
}

button:hover {
  background-color: transparent;
}

.buttom-frame4 {
  background-color: gray;
  opacity: 100%;
  border: solid transparent 1px;
  color: white;
  border-radius: 10%;
}

.buttom-frame5 {
  background-color: gray;
  opacity: 100%;
  border: solid transparent 1px;
  color: white;
  border-radius: 10%;
}

.buttom-frame4:hover {
  background-color: white;
}

.buttom-frame5:hover {
  background-color: white;
}